<!-- Modal content-->
  <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Performance Action</h4>
      </div>
      <div class="modal-body">
        <p>{{resp}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="ok()">OK</button>
      </div>
</div>