<html>
<head>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css"> -->
	<link rel="stylesheet" type="text/css" href="./performance.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script data-require="angular-animate@1.6.*" data-semver="1.6.5" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>
  <script data-require="angular-touch@1.6.*" data-semver="1.6.2" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-touch.js"></script>
	<script data-require="ui-bootstrap@*" data-semver="2.5.0" src="https://cdn.rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-2.5.0.js"></script>
	<script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js"></script>
	<script type = "text/javascript">
		google.charts.load('current', {packages: ['corechart']});
 </script>
</head>

<body>
	<div class="header" style="height:60px; width:100%; position: fixed; top:0px; background: #70cbf4;z-index:1;">
		<!--<div class="tuimg">
    <img src="http://static.thomson.co.uk/static-images/_ui/mobile/th/images/logo/TUI-Logo.svg" style="height:100%;">
 </div>-->
		<div class="heading">   
			<h2>
				<u>Performance Report</u>
			</h2>
		</div>
		<!--<div class="sonataimg">
  <img src="http://www.sonata-software.com/sites/default/files/favicon.ico" style="height:100%;">
 </div>-->
	</div>
	<div ng-app="performance" ng-controller="myCtl" ng-class="myClass">
		<div class='flterSection'>
			<input type="text" name="samplerName" ng-model="samplerName" placeholder="search by sampler name.." />
			<input type="text" name="brandname" ng-model="brandname" placeholder="search by brand name.." />
			<button id='displayid' class="btnclass" ng-click="displayData()">DisplayResults</button>
		<!--	<button id='baselineid' class="btnclass" ng-click="displayBaseline()" disabled>BaselineData</button> -->
			<button id='dispdataid' class="btnclass" ng-click="displayDataBasedOnDate('nintypercentage')">NintyPercentage</button>
			<button id='errorid' class="btnclass" ng-click="displayDataBasedOnDate('errorrate')">ErrorRate</button>
		</div>
		<div class="content">
			<div class="leftPanel">
				<div class="startdateselection">
					<label>Start Date</label>
					<input type="date" id="startid" name="startdate" ng-model="startdate" ng-change="availableDates(clearEndData)" required />
					<span style="color:red;">{{starterror}}</span>
				</div>

				<div class="endateselection">
					<label>End Date</label>
					<input type="date" id="endid" name="enddate"  ng-model="enddate" min="{{minEndDate}}" max="{{maxEndDate}}" ng-change="clearErrorMessage()" required/>
					<span style="color:red;">{{enderror}}</span>
				</div>

				<div class="endateselection">
					<div class="slider">
						<label>Average RespTime</label>
						<span><input type="range" name="average" ng-model="perf.average" step="1" min="0" max="{{avgRes}}">&nbsp;{{perf.average}}</span>
					</div>
					<div class="slider">
						<label>Ninty Percentage</label>
						<span><input type="range" name="nintypercentage" ng-model="perf.nintypercentage" step="1" min="0" max="{{maxNintyRes}}">&nbsp;{{perf.nintypercentage}}</span>
					</div>
					<div class="slider">
						<label>Error Rate</label>
						<span><input type="range" name="errorval" ng-model="perf.errorval" step="1" min="0" max="{{maxError}}">&nbsp;{{perf.errorval}}</span>
					</div>
				</div>

				<div>
					<button type="button" class="btnclass" id='applyfilter' style="margin-left:3px;" ng-click="applyFilter()">ApplyFilter</button>
					<button type="button" class="btnclass" id='clearfilter' style="margin-left:3px;" ng-click="clearFilter()">Clear
						Filter</button>
				</div>
			</div>
			<div class="bodydata">

				<div class="perfdata" ng-style="myStyle" ng-init="nonfilter=false">
					<table id="jtldata" ng-if="nonfilter">
						<tr>
							<th>SamplerId</th>
							<th>Brand</th>
							<th>ExecutionDate</th>
							<th>Sample</th>
							<th>Average</th>
							<th>90%</th>
							<th>Error</th>
							<th>Actions</th>
							<th>Graph</th>
						</tr>
						<tr ng-repeat="trdata in perfdata | filter:samplerName |filter:brandname">
							<td>{{trdata.samplerIndex}}</td>
							<td>{{trdata.brandName}}</td>
							<td>{{trdata.execDate}}</td>
							<td>{{trdata.sampler}}</td>
							<td contenteditable='true'>{{trdata.average}}</td>
							<td contenteditable='true'>{{trdata.nintyPer}}</td>
							<td contenteditable='true'>{{trdata.error}}</td>
							<td><button type="button" id='updateid' ng-click="updateCell($index+1)">Update</button></td>
						<!--	<td><button type="button" ng-click="compareSample($index+1)" disabled>ShowGraph</button></td> -->
					    <td><button type="button" ng-click="displayGraph($index+1,'nonfilter')">ShowGraph</button></td>
						</tr>
					</table>
				</div>


				<div class="filterdata" ng-style="myStyle" ng-init="filtered=false;base=false">
					<table id="jtldata" ng-if="filtered && base === false">
						<tr>
							<th>SamplerId</th>
							<th>Brand</th>
							<th>ExecutionDate</th>
							<th>Sample</th>
							<th>Average</th>
							<th>90%</th>
							<th>Error</th>
							<th>Actions</th>
							<th>Graph</th>
						</tr>
						<tr ng-repeat="trdata in filteredJson | filter:samplerName |filter:brandname">
							<td>{{trdata.samplerIndex}}</td>
							<td>{{trdata.brandName}}</td>
							<td>{{trdata.execDate}}</td>
							<td>{{trdata.sampler}}</td>
							<td contenteditable='true'>{{trdata.average}}</td>
							<td contenteditable='true'>{{trdata.nintyPer}}</td>
							<td contenteditable='true'>{{trdata.error}}</td>
							<td><button type="button" id='updateid' ng-click="updateCell($index+1)">Update</button></td>
						<!--	<td><button type="button" ng-click="compareSample($index+1)" disabled>Show Graph</button></td>-->
							<td><button type="button" ng-click="displayGraph($index+1,'filtered')">ShowGraph</button></td>
						</tr>
					</table>

					<table id="jtldata" ng-if="filtered && base">
						<tr>
							<th>Brand</th>
							<th>ExecutionDate</th>
							<th>Sample</th>
							<th>Average</th>
							<th>90%</th>
							<th>Error</th>
						</tr>
						<tr ng-repeat="trdata in filteredJson | filter:samplerName |filter:brandname">
							<td>{{trdata.brandName}}</td>
							<td>{{trdata.execDate}}</td>
							<td>{{trdata.sampler}}</td>
							<td contenteditable='true'>{{trdata.average}}</td>
							<td contenteditable='true'>{{trdata.nintyPer}}</td>
							<td contenteditable='true'>{{trdata.error}}</td>
						</tr>
					</table>
				</div>

				 <div class="graphdata" ng-style="myStyle" ng-init="dispgraph=false">
					<div ng-if="dispgraph">
					 <div id='backid'>
						   <button style="float:right;" class="btnclass" ng-click="displayoriginresult()">&nbsp;Back&nbsp;</button>
					 </div>
					<br/>
					  <div id="graphid1"></div>
					  <br/>
					  <div id="graphid2"></div>
					</div>
				 </div>

				<div class="baselineData" ng-style="myStyle" ng-init="baseline=false">
					<table id="jtldata" ng-if="baseline">
						<tr>
							<th>Brand</th>
							<th>ExecutionDate</th>
							<th>Sample</th>
							<th>Average</th>
							<th>90%</th>
							<th>Error</th>
						</tr>
						<tr ng-repeat="trdata in baselineData |filter:samplerName |filter:brandname">
							<td>{{trdata.brandName}}</td>
							<td>{{trdata.execDate}}</td>
							<td>{{trdata.sampler}}</td>
							<td contenteditable='true'>{{trdata.average}}</td>
							<td contenteditable='true'>{{trdata.nintyPer}}</td>
							<td contenteditable='true'>{{trdata.error}}</td>
						</tr>
					</table>
				</div>

				<div class="dispdataondate" ng-style="myStyle" ng-init="comp=false">
					<table id="jtldata" ng-if="comp">
					  <tr>
							<th>Sample</th>
							<th ng-repeat="totData in noOfData">{{totData}}</th>
							<th>Variation</th>
						</tr>
						<tr ng-repeat="trdata in displayDataOnDate">
							<td class='headcol'>{{trdata.sampler}}</td>
							<td ng-repeat="tddate in trdata.execandres" colspan="{{noOfData.length-trdata.execandres.length+1}}">{{tddate.nintPer}}</td>
							<!--<td ng-repeat="tddate in trdata.execandres">{{tddate.nintPer}}</td>-->
						 <td class='tailcol'>{{trdata.variation}}</td>
						</tr>
					</table>
			 </div>

			</div>
		</div>
		 <div ng-show="loading">>
			<div class="loader"></div> 
		</div>
	</div>
	<div class="footer"></div>
	<script src="./performance.js"></script>
</body>
</html>