

		 .leftPanel{
		   border-right-style: groove;
       border-right-color: #bdb6b6;
		   border-right-width:2px;
		   max-width:15%;
		   width:15%;
			 min-height:700px;
			 position: absolute;
			 top:0;
			 bottom:0;
		   float:left;
		   background-color: #e6e6ea;
		   /*margin-top:70px;
		   sition:fixed;  */
		}
		
		input::-webkit-input-placeholder { 
			 opacity:  0.5;
        }
		
        input:-moz-placeholder { 
          color:    #909;
          opacity:  1;
        }
        input::-moz-placeholder { 
           color:    #909;
           opacity:  1;
        }
        input:-ms-input-placeholder { 
              color:    #909;
        }
		.content{
		  width:100%;
			margin-top:125px;
			position:relative;
		 /*position:fixed;*/
		}
		.flterSection{
		   border-bottom-style:groove;
		   border-bottom-color:bdb6b6;
		   border-bottom-width:2px;
		   max-height:65px;
		   height:65px;
		   z-index:1;
		   background-color: #e6e6ea;
		   position:fixed;
		   width:100%;
		   max-width:100%;
		   top:60px;
		   /*margin-top:60px;*/
		}
		.flterSection input{
		  padding: 9px 20px 9px 10px;
      border: 1px solid #ddd;
		  border-radius:10px;
		  margin-left:8px;
		  margin-top:20px;
		  width:200px;
		  overflow: hidden;
		}
		.mainApp{
		  float:right;
		}
		body{
		  margin:0px;
		}
		.tuimg{
		 float:left; 
		 padding:3px;
		 height:50px;
		}
		.sonataimg{
		 float:right; 
		 margin-top:-68px;
		 margin-right:3px;
		 height:60px;
		}
		.heading{
		  margin-left:38%;
		  margin-right:38%;
		  padding-left:5px;
		  padding-right:5px;
		}
		.startdateselection{
		   max-width:100%;
		   margin-top:30px;
		   margin-left:5px;
		   margin-right:5px;
		   padding-bottom:12px;
		   border-bottom-style:groove;
		   border-bottom-color:bdb6b6;
		   border-bottom-width:2px;
		}
		.endateselection{
		   max-width:100%;
		   margin-top:40px;
		   margin-left:5px;
		   margin-right:5px;
		   padding-bottom:12px;
		   border-bottom-style:groove;
		   border-bottom-color:bdb6b6;
		   border-bottom-width:2px;
		}
		.startdateselection input{
		   border-radius:10px;
		   margin-top:3px;
		}
		.startdateselection>label{
		   margin-left:3px;
		}
		
		.endateselection input{
		   border-radius:10px;
		   margin-top:3px;
		}
		
		.endateselection>label{
		   margin-left:3px;
		}
		/*<!--.reportanalysis{
		   max-width:100%;
		   margin-top:50px;
		   margin-left:5px;
		   margin-right:5px;
		   padding-bottom:12px;
		   border-bottom-style:groove;
		   border-bottom-color:bdb6b6;
		   border-bottom-width:2px;
		}
		.reportanalysis a{
		  cursor:pointer;
		  margin-left:3px;
		  text-decoration:none;
		} -->*/
		
		.btnclass{
		  border-radius:10px;
		  margin-top:27px;
		  border-style:solid;
		}
		
		table {
          border-collapse: collapse;
          width: 100%;
        }

    th, td {
         padding: 8px;
         text-align: left;
         border-bottom: 1px solid #ddd;
        }

    tr:hover {
	    background-color:#f5f5f5;
	  }
	  
	  .perfdata{
		   display:none;
		   padding-top:30px;
		   width:100%;
		   max-width:100%;
	  }
	  
	  .filterdata{
		   display:none;
		   /*padding-top:30px;*/
		   width:100%;
		   max-width:100%;
		}
	 
		.graphdata{
			display:none;
		   /*padding-top:30px;*/
		   width:100%;
		   max-width:100%;
		}
		#graphid1{
		/*	height: 300px;*/
		  max-width:80%;
		}

		#graphid2{
			/*	height: 300px;*/
				max-width:80%;
		}

		.baselineData{
			display:none;
		   /*padding-top:30px;*/
		   width:100%;
		   max-width:100%;
		}

		.dispdataondate{
			display:none;
		   /*padding-top:30px;*/
		  /*width:100%;*/
			max-width:100%;
			overflow-x:scroll;  
       /*  margin-right:5em; */
      /*margin-left:5em; */
        /* overflow-y:visible;*/
      padding-bottom:0px; 
		}

		.headcol {
		/*	position:absolute; */
			width:5em; 
			/*left:0;*/
			top:auto;
			border-right: 0px none black; 
			border-top-width:3px; /*only relevant for first row*/
			margin-top:-3px; /*compensate for top border*/
	  }
	  .tailcol {
		/*	position:absolute; */
			width:5em; 
			right:0;
			top:auto;
			border-right: 0px none black; 
			border-top-width:3px; /*only relevant for first row*/
			margin-top:-3px; /*compensate for top border*/
	  }
	  
	  .bodydata{
	   width:84%;
		 max-width:85%;
		 margin-left:205px;
	  }
	  
	  .slider{
	    padding-top:5px;
	  }
	  
	  .slider input{
	    margin-left:3px;
	  }
	  
	  input[type="range" i] {
         color: rgb(196, 196, 196)!important; 
      }
	 
	 .footer{
	   left:0;
	   right:0;
	   bottom:0;
	   position:fixed;
	   height:20px;
	   max-height:20px;
	   background-color:#03a9f4;
	   width:100%;
	   background-image: none;
     background-repeat: repeat;
     background-attachment: scroll;
	 }
	 
	 .bodyclass{
     opacity: 0.25;
     position:absolute;
	   width:100%;
	   height:100%;
	   top:0;
		 left:0;
		 pointer-events: none;
		 overflow:hidden;
		 /*background:rgba(0,0,0,.5);*/	 
		}
		
	 .emptyloader{
			display:none;
	  }
	
	 .loader {
       border: 16px solid #f3f3f3;
       border-radius: 50%;
       border-top: 16px solid #3498db;
       width: 120px;
       height: 120px;
       position:absolute;
       top:47%;
       left:47%;
      -webkit-animation: spin 2s linear infinite; /* Safari */
       animation: spin 2s linear infinite;
		 }
		 
		@keyframes spin {
			0% { transform: rotate(0deg); }
			100% { transform: rotate(360deg); }
		}

		/*safari*/
		@-webkit-keyframes spin {
			0% { -webkit-transform: rotate(0deg); }
			100% { -webkit-transform: rotate(360deg); }
		}

		button{
			cursor: pointer;
		}

	.modal-content {
			position: relative;
			background-color: #fff;
			-webkit-background-clip: padding-box;
							background-clip: padding-box;
			border: 1px solid #999;
			border: 1px solid rgba(0, 0, 0, .2);
			border-radius: 6px;
			outline: 0;
			-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
							box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
		}

		@media (min-width: 768px) {
			.modal-dialog {
				width: 500px;
				margin: 100px auto;
			}
			.modal-content {
				-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
								box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
			}
			.modal-sm {
				width: 300px;
			}
		}
		.modal-header {
			padding: 15px;
			border-bottom: 1px solid #e5e5e5;
		}

		.modal-body {
			position: relative;
			padding: 15px;
		}
		
		.modal-footer {
			padding: 15px;
			text-align: right;
			border-top: 1px solid #e5e5e5;
	}

	.modal-header .close {
    margin-top: -2px;
  }

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}

p {
	margin: 0 0 10px;
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

/*h4, .h4 {
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

h4 {
	display: block;
	margin-block-start: 1.33em;
	margin-block-end: 1.33em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}/*

/*button{
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button {
	-webkit-appearance: button;
	cursor: pointer;
}

button {
	text-transform: none;
}

 button {
	align-items: flex-start;
	text-align: center;
	cursor: default;
	color: buttontext;
	background-color: buttonface;
	box-sizing: border-box;
	padding: 2px 6px 3px;
	border-width: 2px;
	border-style: outset;
	border-color: buttonface;
	border-image: initial;
}

 button {
	text-rendering: auto;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	margin: 0em;
	font: 400 13.3333px Arial;
}

 button {
	-webkit-writing-mode: horizontal-tb !important;
}*/

.modal-open {
	overflow: hidden;
}

.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}
.fade.in {
	opacity: 1;
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}
.fade {
	opacity: 0;
	-webkit-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear;
}

.modal-backdrop.in {
	filter: alpha(opacity=50);
	opacity: .5;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
}
.modal.in .modal-dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}
.modal.fade .modal-dialog {
	-webkit-transition: -webkit-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out;
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	-o-transform: translate(0, -25%);
	transform: translate(0, -25%);
}

.modal-dialog {
  position: relative;
}

